<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MY EJSSSSSSSSSSSSS</h1>
    <a href="/new">New message</a>
    <ul>
      <% if (contacts) {%> <% contacts.map((contact)=>{ %>
      <h3>
        User:<%= contact.name %> Text:<%= contact.message %> id:<%= contact.id
        %> <a href="/<%= contact.id %>">Open</a>
      </h3>

      <% }) %><% } %>
    </ul>
  </body>
</html>
